<div {{bind-attr class="type :alert :fade :in"}} role="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close Alert</span></button>
	{{#if heading}}<strong>{{heading}}: </strong>{{/if}}
    {{message}}
</div>
